*{
margin:0;
padding:0;
box-sizing:border-box;
}


html{
scroll-behavior:smooth;
}



body{

background:#030712;

color:white;

font-family:Inter,Arial,sans-serif;

overflow-x:hidden;

}





#space{

position:fixed;

top:0;

left:0;

width:100%;

height:100%;

z-index:-1;

}





header{

position:fixed;

top:0;

width:100%;

display:flex;

justify-content:space-between;

align-items:center;

padding:30px 8%;

background:rgba(0,0,0,.25);

backdrop-filter:blur(20px);

z-index:10;

}




.logo{

font-size:28px;

font-weight:900;

}


.logo span{

background:linear-gradient(
90deg,
#3b82f6,
#ec4899
);

-webkit-background-clip:text;

color:transparent;

}



nav{

display:flex;

gap:30px;

}


nav a{

color:#aaa;

transition:.3s;

}


nav a:hover{

color:white;

}




.hero{

height:100vh;

display:flex;

align-items:center;

padding:0 8%;

}



.hero-content{

max-width:900px;

}




.small{

color:#60a5fa;

letter-spacing:5px;

}




.hero h1{

font-size:80px;

font-weight:900;

line-height:1.1;

}



.hero h1 span{

background:linear-gradient(
90deg,
#3b82f6,
#a855f7,
#ec4899
);

-webkit-background-clip:text;

color:transparent;

}



.hero p{

margin-top:30px;

font-size:22px;

color:#9ca3af;

}



.buttons{

margin-top:40px;

display:flex;

gap:20px;

}



.btn{

padding:18px 40px;

border-radius:20px;

background:#2563eb;

font-weight:700;

transition:.3s;

}



.btn:hover{

transform:translateY(-5px);

}




.second{

background:#ffffff15;

}




section{

padding:120px 8%;

}




h2{

font-size:50px;

text-align:center;

margin-bottom:50px;

}




.box{

max-width:900px;

margin:auto;

padding:50px;

border-radius:40px;

background:#ffffff08;

backdrop-filter:blur(20px);

border:1px solid #ffffff15;

}




.projects{

display:grid;

grid-template-columns:repeat(3,1fr);

gap:30px;

}



.card{

padding:40px;

background:#ffffff08;

border-radius:35px;

border:1px solid #ffffff15;

transition:.4s;

}



.card:hover{

transform:translateY(-15px);

}





footer{

text-align:center;

padding:40px;

color:#777;

}




#loader{

position:fixed;

inset:0;

background:#030712;

display:flex;

align-items:center;

justify-content:center;

flex-direction:column;

z-index:999;

font-size:50px;

font-weight:900;

}



.loader-bar{

width:250px;

height:5px;

margin-top:30px;

background:linear-gradient(
90deg,
#3b82f6,
#ec4899
);

animation:load 2s infinite;

}



@keyframes load{

0%{
transform:scaleX(0);
}

100%{
transform:scaleX(1);
}

}





@media(max-width:900px){


.hero h1{

font-size:45px;

}


.projects{

grid-template-columns:1fr;

}


nav{

display:none;

}


}
